body {
    text-align: center;
}

header {
	width: 505px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

p {
	font: 2em 'VT323', sans-serif;
	color: #FF00DD;
	margin: 0;
}

button {
	font: 1.5em 'VT323', sans-serif;
	background-color: yellow;
	color: red;
	border-color: yellow;
	display: none;
}

#scoreboard,
#lives {
	margin: 0 10px;
}